{% extends "base.html" %}
{% block title %}{{ group.name }} | johnny{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
  <ul>
    <li><a href="{{ url_for('index') }}">groups</a></li>
    <li>{{ group.name }}</li>
  </ul>
</nav>

<hgroup>
  <h2>{{ group.name }}</h2>
  <p>
    first seen <span title="{{ group.first_seen_at }}">{{ group.first_seen_at | naturaltime }}</span>
    · last seen <span title="{{ group.last_seen_at }}">{{ group.last_seen_at | naturaltime }}</span>
  </p>
</hgroup>

{% if group.description %}
<blockquote>{{ group.description }}</blockquote>
{% endif %}

{% include "_group_hosts_table.html" %}
{% endblock %}
